@import "/home/marci/.cache/wal/colors.scss";

* {
  all: unset;
}

.bar-widget {
  color: $color5;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  padding: 0rem;
  margin: 0rem;
}


@import "scss/workspaces.scss";
@import "scss/window-name.scss"

// @import "scss/center.scss"
@import "scss/music.scss"

@import "scss/volume.scss"
@import "scss/battery.scss"
@import "scss/clock.scss"

@import "scss/control.scss"
