# Bitwarden CLI
Bitwarden CLI/data.json

# Bpytop
bpytop/error.log

# Cef user data
cef_user_data/

# Chromium
chromium/

# Dconf
dconf/

# Dolphin
baloofileinformationrc
dolphinrc
kde.org/
kiorc
ktrashrc
session/
trashrc

# GitHub
gh/

# GTK
gtk-3.0/

# Java
java/

# Kdenlive
kdeglobals
kdenlive*

# Neofetch
# neofetch

# Npm
npm/_cacache
npm/_logs
npm/_update-notifier-last-checked

# Nushell
nushell/history.txt

# Nvim
nvim/plugin/
nvim/lazy-lock.json
nvim/lua/.luarc.json
nvim/spell/en.utf-8.add.spl

# OBS
obs-studio/
obs-studio/basic/
obs-studio/logs/
obs-studio/plugin_config/
obs-studio/profiler_data/
obs-studio/global.ini

# Pikaur
pikaur.conf

# Pipewire (QPWgraph)
rncbc.org/

# Pulse audio
pulse/
pavucontrol.ini

# Procps
procps/

# qBittorrent
qBittorrent/

# Qtile
qtile/__pycache__
qtile/scripts/__pycache__

# QT5
QtProject.conf
QtProject/

# Spotify
spotify-tui/client.yml
spotify-tui/config.yml
spotify-tui/.spotify_token_cache.json
spotifyd/spotifyd.conf

# SQLite
sqlitebrowser/

# Starship
starship/*.log

# Thunar
Thunar/

# VirtualBox
VirtualBox/

# VLC
vlc/

# Wireplumber
wireplumber/

# Wireshark
wireshark/recent
wireshark/recent_common
wireshark/profiles/TCP/recent
wireshark/profiles/TLS/recent
wireshark/profiles/Classic/recent

# XDG
user-dirs.dirs
user-dirs.locale

# XFCE
xfce4/

# ZSH
zsh/.zcompdump
zsh/history
