### Bitwarden CLI ###
Bitwarden CLI/data.json

### Bpytop ###
bpytop/error.log

### Cargo ###
cargo/

### Configstore ###
configstore/

### Dconf ###
dconf/

### GitHub ###
gh/

### Pulse Audio ###
pavucontrol.ini

### QtProject
QtProject.conf

### Rust Bitwarden ###
rbw/

### Spotify ###
spotify-tui/client.yml
spotify-tui/.spotify_token_cache.json
spotifyd/spotifyd.conf

### VS Codium ###
# vscodium/

### Wireshark
wireshark/decode_as_entries
wireshark/expert_severity
wireshark/language
wireshark/profiles/
wireshark/recent
wireshark/recent_common

### ZSH ###
zsh/.zcompdump
zsh/.zsh_history
