!joplin-desktop/
!joplin-desktop/settings.json
@joplin/
Bitwarden CLI/data.json
bpytop/error.log
cargo/
configstore/
dconf/
gh/
joplin-desktop/*
pavucontrol.ini
pulse/
rbw/
spotify-tui/client.yml
spotifyd/spotifyd.conf
VSCodium/
zsh/.zcompdump
zsh/.zsh_history
