"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

# Manager {{{
[mgr]
keymap = [
    { on = [ "<Esc>" ], run = "escape",             desc = "Exit/Clear/Cancel" },
    { on = [ "<C-[>" ], run = "escape",             desc = "Exit/Clear/Cancel" },
    { on = [ "q" ],     run = "quit",               desc = "Exit" },
    { on = [ "Q" ],     run = "quit --no-cwd-file", desc = "Exit [no cwd]" },
    { on = [ "<C-i>" ], run = "spot",               desc = "File Information" },
    { on = [ "<C-q>" ], run = "close",              desc = "Quit/Close Tab" },
    { on = [ "<C-z>" ], run = "suspend",            desc = "Suspend" },

    # Navigation {{{
    { on = [ "e" ], run = "arrow -1", desc = "Move [Up]" },
    { on = [ "E" ], run = "arrow -5", desc = "Move [Up 5]" },
    { on = [ "n" ], run = "arrow 1",  desc = "Move [Down]" },
    { on = [ "N" ], run = "arrow 5",  desc = "Move [Down 5]" },

    { on = [ "m" ], run = "leave",   desc = "Directory [Parent]" },
    { on = [ "M" ], run = "back",    desc = "Directory [Previous]" },
    { on = [ "i" ], run = "enter",   desc = "Directory [Child]" },
    { on = [ "I" ], run = "forward", desc = "Directory [Next]" },

    { on = [ "g", "g" ], run = "arrow top", desc = "Top" },
    { on = [ "G" ],      run = "arrow bot", desc = "Bottom" },

    { on = [ "<S-Up>" ],   run = "arrow -5", desc = "Move [Up 5]" },
    { on = [ "<S-Down>" ], run = "arrow 5",  desc = "Move [Down 5]" },

    { on = [ "<C-e>" ], run = "arrow -50%",  desc = "Move [Up half]" },
    { on = [ "<C-k>" ], run = "arrow -100%", desc = "Move [Up full]" },
    { on = [ "<C-n>" ], run = "arrow 50%",   desc = "Move [Down half]" },
    { on = [ "<C-j>" ], run = "arrow 100%",  desc = "Move [Down full]" },

    { on = [ "<A-k>" ], run = "seek -5", desc = "Preview [Scroll Up]" },
    { on = [ "<A-j>" ], run = "seek 5",  desc = "Preview [Scroll Down]" },
    # }}}

    # Selection {{{
    { on = [ "<Space>" ], run = [ "toggle --state=none", "arrow 1" ], desc = "Select" },
    { on = [ "v" ],       run = "visual_mode",                        desc = "Visual [Select]" },
    { on = [ "V" ],       run = "visual_mode --unset",                desc = "Visual [Unset]" },
    { on = [ "<C-a>" ],   run = "toggle_all --state=true",            desc = "Select [All]" },
    { on = [ "<C-r>" ],   run = "toggle_all --state=none",            desc = "Select [All - Inverze]" },
    # }}}

    # Operation {{{
    { on = [ "o" ],         run = "open",                        desc = "Open" },
    { on = [ "O" ],         run = "open --interactive",          desc = "Open [Interactive]" },
    { on = [ "<Enter>" ],   run = "open",                        desc = "Open" },
    { on = [ "<C-Enter>" ], run = "open --interactive",          desc = "Open [Interactive]" },
    { on = [ "y" ],         run = "yank",                        desc = "Copy" },
    { on = [ "Y" ],         run = "unyank",                      desc = "Copy [Cancel]" },
    { on = [ "x" ],         run = "yank --cut",                  desc = "Cut" },
    { on = [ "X" ],         run = "unyank",                      desc = "Cut [Cancel]" },
    { on = [ "p" ],         run = "paste",                       desc = "Paste" },
    { on = [ "P" ],         run = "paste --force",               desc = "Paste [Force]" },
    { on = [ "-" ],         run = "link",                        desc = "Symlink [Absolute path]" },
    { on = [ "_" ],         run = "link --relative",             desc = "Symlink [Relative path]" },
    { on = [ "d" ],         run = "remove --permanently",        desc = "Delete" },
    { on = [ "D" ],         run = "remove",                      desc = "Trash" },
    { on = [ "a" ],         run = "create",                      desc = "Create" },
    { on = [ "r", "r" ],         run = "rename --cursor=before_ext",  desc = "Rename" },
    { on = [ "r", "R" ],         run = "rename --empty=stem --cursor=start",  desc = "Rename [Empty stem]" },
    { on = [ "r", "a" ],         run = "rename --empty=all", desc = "Rename [All]" },
    { on = [ ";" ],         run = "shell --interactive",         desc = "Shell" },
    { on = [ ":" ],         run = "shell --interactive --block", desc = "Shell [Block]" },
    { on = [ "." ],         run = "hidden toggle",               desc = "Hidden" },
    { on = [ "s" ],         run = "search fd",                   desc = "Search File" },
    { on = [ "S" ],         run = "search rg",                   desc = "Search Content" },
    { on = [ "<C-s>" ],     run = "search none",                 desc = "Search [Cancel]" },
    # { on = [ "z" ],         run = "plugin zoxide",               desc = "Jump [zoxide]" },
    # { on = [ "Z" ],         run = "plugin fzf",                  desc = "Jump [fzf]" },
    # }}}

    # Linemode {{{
    { on = [ "l", "s" ], run = "linemode size",        desc = "Linemode [Size]" },
    { on = [ "l", "p" ], run = "linemode permissions", desc = "Linemode [Permissions]" },
    { on = [ "l", "m" ], run = "linemode mtime",       desc = "Linemode [Mtime]" },
    { on = [ "l", "n" ], run = "linemode none",        desc = "Linemode [None]" },
    # }}}

    # Copy {{{
    { on = [ "c", "c" ], run = "copy path",             desc = "Copy Path [Absolute]" },
    { on = [ "c", "d" ], run = "copy dirname",          desc = "Copy Path [Parent dir]" },
    { on = [ "c", "f" ], run = "copy filename",         desc = "Copy [Filename + Extension]" },
    # }}}

    # Filter {{{
    { on = [ "f" ], run = "filter --smart", desc = "Filter" },
    # }}}

    # Find {{{
    { on = [ "/" ], run = "find --smart",            desc = "Find [Next]" },
    { on = [ "?" ], run = "find --previous --smart", desc = "Find [Previous]" },
    { on = [ "k" ], run = "find_arrow",              desc = "Next File" },
    { on = [ "k" ], run = "find_arrow --previous",   desc = "Previous File" },
    # }}}

    # Shell {{{
    { on   = "!", for  = "unix", run  = 'shell "$SHELL" --block', desc = "Drop to $SHELL" },
    # }}}

    # Sorting {{{
    { on = [ ",", "a" ], run = "sort alphabetical --dir-first",           desc = "Alphabetical" },
    { on = [ ",", "A" ], run = "sort alphabetical --reverse --dir-first", desc = "Alphabetical [Reverse]" },
    { on = [ ",", "c" ], run = "sort created --dir-first",                desc = "Created Time" },
    { on = [ ",", "C" ], run = "sort created --reverse --dir-first",      desc = "Created Time [Reverse]" },
    { on = [ ",", "e" ], run = "sort extension --dir-first",              desc = "Extension" },
    { on = [ ",", "E" ], run = "sort extension --reverse --dir-first",    desc = "Extension [Reverse]" },
    { on = [ ",", "m" ], run = "sort modified --dir-first",               desc = "Modified Time" },
    { on = [ ",", "M" ], run = "sort modified --reverse --dir-first",     desc = "Modified Time [Reverse]" },
    { on = [ ",", "n" ], run = "sort natural --dir-first",                desc = "Natural" },
    { on = [ ",", "N" ], run = "sort natural --reverse --dir-first",      desc = "Natural [Reverse]" },
    { on = [ ",", "s" ], run = "sort size --dir-first",                   desc = "Size" },
    { on = [ ",", "S" ], run = "sort size --reverse --dir-first",         desc = "Size [Reverse]" },
    # }}}

    # Tabs {{{
    { on = [ "t" ], run = "tab_create --current", desc = "Tab [New]" },

    { on = [ "1" ], run = "tab_switch 0", desc = "Tab [1st]" },
    { on = [ "2" ], run = "tab_switch 1", desc = "Tab [2nd]" },
    { on = [ "3" ], run = "tab_switch 2", desc = "Tab [3rd]" },
    { on = [ "4" ], run = "tab_switch 3", desc = "Tab [4th]" },
    { on = [ "5" ], run = "tab_switch 4", desc = "Tab [5th]" },
    { on = [ "6" ], run = "tab_switch 5", desc = "Tab [6th]" },
    { on = [ "7" ], run = "tab_switch 6", desc = "Tab [7th]" },
    { on = [ "8" ], run = "tab_switch 7", desc = "Tab [8th]" },
    { on = [ "9" ], run = "tab_switch 8", desc = "Tab [9th]" },

    { on = [ "<Tab>" ], run = "tab_switch 1 --relative",  desc = "Tab [Next]" },
    { on = [ "<BackTab>" ], run = "tab_switch -1 --relative", desc = "Tab [Previous]" },

    { on = [ "]" ], run = "tab_swap 1",  desc = "Tab [Swap current with next]" },
    { on = [ "[" ], run = "tab_swap -1", desc = "Tab [Swap current with previous]" },
    # }}}

    # Tasks {{{
    { on = [ "w" ], run = "tasks_show", desc = "Tasks manager" },
    # }}}

    # Zip {{{
    { on = [ "z", "a" ], run = "shell 'zip -j .zip %h' --cursor=7 --interactive", desc = "Zip [Archive]" },
    { on = [ "z", "e" ], run = "shell 'unzip %h' --cursor=8 --interactive", desc = "Zip [Extract]" },

    # 7-Zip
    { on = [ "Z", "a" ], run = "shell '7z a .7z %h' --cursor=5 --interactive", desc = "7z [Archive]" },
    { on = [ "Z", "x" ], run = "shell '7z x %h' --cursor=7 --interactive", desc = "7z [Extract]" },
    # }}}

    # Goto {{{
    { on = [ "g", "c" ], run = "cd ~/.config",     desc = "~/.config" },
    { on = [ "g", "h" ], run = "cd ~",             desc = "$HOME" },
    { on = [ "g", "i" ], run = "cd --interactive", desc = "interactive" },
    { on = [ "g", "l" ], run = "cd ~/.local",      desc = "~/.local" },
    { on = [ "g", "t" ], run = "cd ~/tmp",         desc = "~/tmp" },
    { on = [ "g", "/" ], run = "cd /",             desc = "/" },
    # }}}

    # Help {{{
    { on = [ "h" ], run = "help", desc = "Help" },
    # }}}
]
# }}}

# Task {{{
[tasks]
keymap = [
    { on = [ "<Esc>" ], run = "close", desc = "Task manager [Hide]" },
    { on = [ "<C-q>" ], run = "close", desc = "Task manager [Hide]" },
    { on = [ "w" ],     run = "close", desc = "Task manager [Hide]" },

    { on = [ "k" ], run = "arrow -1", desc = "Cursor [Move Up]" },
    { on = [ "j" ], run = "arrow 1",  desc = "Cursor [Move Down]" },

    { on = [ "<Up>" ],   run = "arrow -1", desc = "Cursor [Move Up]" },
    { on = [ "<Down>" ], run = "arrow 1",  desc = "Cursor [Move Down]" },

    { on = [ "<Enter>" ], run = "inspect", desc = "Task [Inspect]" },
    { on = [ "x" ],       run = "cancel",  desc = "Task [Cancel]" },

    { on = [ "~" ], run = "help", desc = "Help" }
]
# }}}

# Select {{{
[select]
keymap = [
    { on = [ "<Esc>" ],   run = "close",          desc = "Selection [Cancel]" },
    { on = [ "<C-[>" ],   run = "close",          desc = "Selection [Cancel]" },
    { on = [ "<C-q>" ],   run = "close",          desc = "Selection [Cancel]" },
    { on = [ "<Enter>" ], run = "close --submit", desc = "Selection [Submit]" },

    { on = [ "k" ], run = "arrow -1", desc = "Move up" },
    { on = [ "j" ], run = "arrow 1",  desc = "Move down" },

    { on = [ "K" ], run = "arrow -5", desc = "Move up [5 lines]" },
    { on = [ "J" ], run = "arrow 5",  desc = "Move down [5 lines]" },

    { on = [ "<Up>" ],   run = "arrow -1", desc = "Move up" },
    { on = [ "<Down>" ], run = "arrow 1",  desc = "Move down" },

    { on = [ "<S-Up>" ],   run = "arrow -5", desc = "Move up [5 lines]" },
    { on = [ "<S-Down>" ], run = "arrow 5",  desc = "Move down [5 lines]" },

    { on = [ "~" ], run = "help", desc = "Help" }
]
# }}}

# Input {{{
[input]
keymap = [
    { on = [ "<C-q>" ],   run = "close",          desc = "Input [Cancel]" },
    { on = [ "<Enter>" ], run = "close --submit", desc = "Input [Submit]" },
    { on = [ "<Esc>" ],   run = "escape",         desc = "Normal Mode/Cancel Input" },
    { on = [ "<C-[>" ],   run = "escape",         desc = "Normal Mode/Cancel Input" },

    # Mode {{{
    { on = [ "i" ], run = "insert",                              desc = "Insert Mode" },
    { on = [ "a" ], run = "insert --append",                     desc = "Append Mode" },
    { on = [ "I" ], run = [ "move -999", "insert" ],             desc = "BOL and Insert Mode" },
    { on = [ "A" ], run = [ "move 999", "insert --append" ],     desc = "EOL and Append Mode" },
    { on = [ "v" ], run = "visual",                              desc = "Visual Mode" },
    { on = [ "V" ], run = [ "move -999", "visual", "move 999" ], desc = "Visual Mode and Select All" },
    # }}}

    # Character-wise movement {{{
    { on = [ "h" ],       run = "move -1", desc = "Move back a character" },
    { on = [ "l" ],       run = "move 1",  desc = "Move forward a character" },
    { on = [ "<Left>" ],  run = "move -1", desc = "Move back a character" },
    { on = [ "<Right>" ], run = "move 1",  desc = "Move forward a character" },
    { on = [ "<C-b>" ],   run = "move -1", desc = "Move back a character" },
    { on = [ "<C-f>" ],   run = "move 1",  desc = "Move forward a character" },
    # }}}

    # Word-wise movement {{{
    { on = [ "b" ],     run = "backward",              desc = "Move back to the start of the current or previous word" },
    { on = [ "w" ],     run = "forward",               desc = "Move forward to the start of the next word" },
    { on = [ "e" ],     run = "forward --end-of-word", desc = "Move forward to the end of the current or next word" },
    { on = [ "<A-b>" ], run = "backward",              desc = "Move back to the start of the current or previous word" },
    { on = [ "<A-f>" ], run = "forward --end-of-word", desc = "Move forward to the end of the current or next word" },
    # }}}

    # Line-wise movement {{{
    { on = [ "0" ],      run = "move -999", desc = "Move to the BOL" },
    { on = [ "$" ],      run = "move 999",  desc = "Move to the EOL" },
    { on = [ "<C-a>" ],  run = "move -999", desc = "Move to the BOL" },
    { on = [ "<C-e>" ],  run = "move 999",  desc = "Move to the EOL" },
    { on = [ "<Home>" ], run = "move -999", desc = "Move to the BOL" },
    { on = [ "<End>" ],  run = "move 999",  desc = "Move to the EOL" },
    # }}}

    # Delete {{{
    { on = [ "<Backspace>" ], run = "backspace",         desc = "Delete the character before the cursor" },
    { on = [ "<Delete>" ],    run = "backspace --under", desc = "Delete the character under the cursor" },
    { on = [ "<C-h>" ],       run = "backspace",         desc = "Delete the character before the cursor" },
    { on = [ "<C-d>" ],       run = "backspace --under", desc = "Delete the character under the cursor" },
    # }}}

    # Kill {{{
    { on = [ "<C-u>" ], run = "kill bol",      desc = "Kill backwards to the BOL" },
    { on = [ "<C-x>" ], run = "kill eol",      desc = "Kill forwards to the EOL" },
    { on = [ "<C-w>" ], run = "kill backward", desc = "Kill backwards to the start of the current word" },
    { on = [ "<A-d>" ], run = "kill forward",  desc = "Kill forwards to the end of the current word" },
    # }}}

    # Cut/Yank/Paste {{{
    { on = [ "d" ], run = "delete --cut",                              desc = "Cut the selected characters" },
    { on = [ "D" ], run = [ "delete --cut", "move 999" ],              desc = "Cut until the EOL" },
    { on = [ "c" ], run = "delete --cut --insert",                     desc = "Cut the selected characters, and enter insert mode" },
    { on = [ "C" ], run = [ "delete --cut --insert", "move 999" ],     desc = "Cut until the EOL, and enter insert mode" },
    { on = [ "x" ], run = [ "delete --cut", "move 1 --in-operating" ], desc = "Cut the current character" },
    { on = [ "y" ], run = "yank",           desc = "Copy the selected characters" },
    { on = [ "p" ], run = "paste",          desc = "Paste the copied characters after the cursor" },
    { on = [ "P" ], run = "paste --before", desc = "Paste the copied characters before the cursor" },
    # }}}

    # Undo/Redo {{{
    { on = [ "u" ],     run = "undo", desc = "Undo the last operation" },
    { on = [ "<C-r>" ], run = "redo", desc = "Redo the last operation" },
    # }}}

    # Help {{{
    { on = [ "~" ], run = "help", desc = "Open help" }
    # }}}
]
# }}}

# Completion {{{
[completion]
keymap = [
    { on = [ "<C-q>" ],   run = "close", desc = "Cancel Completion" },
    { on = [ "<Tab>" ],   run = "close --submit",                             desc = "Submit Completion" },
    { on = [ "<Enter>" ], run = [ "close --submit", "close_input --submit" ], desc = "Submit Completion and Input" },

    { on = [ "<A-k>" ], run = "arrow -1", desc = "Move [Up]" },
    { on = [ "<A-j>" ], run = "arrow 1",  desc = "Move [Down]" },

    { on = [ "<Up>" ],   run = "arrow -1", desc = "Move [Up]" },
    { on = [ "<Down>" ], run = "arrow 1",  desc = "Move [Down]" },

    { on = [ "<C-p>" ], run = "arrow -1", desc = "Move [Up]" },
    { on = [ "<C-n>" ], run = "arrow 1",  desc = "Move [Down]" },

    { on = [ "~" ], run = "help", desc = "Help" }
]
# }}}

# Help {{{
[help]
keymap = [
    { on = [ "<Esc>" ], run = "escape", desc = "Help [Hide]" },
    { on = [ "q" ],     run = "close",  desc = "Help [Hide]" },
    { on = [ "<C-q>" ], run = "close",  desc = "Help [Hide]" },

    # Navigation {{{
    { on = [ "e" ], run = "arrow -1", desc = "Move [Up]" },
    { on = [ "n" ], run = "arrow 1",  desc = "Move [Down]" },

    { on = [ "E" ], run = "arrow -5", desc = "Move [Up 5 lines]" },
    { on = [ "N" ], run = "arrow 5",  desc = "Move [Down 5 lines]" },
    # }}}

    # Filtering {{{
    { on = [ "/" ], run = "filter", desc = "Filter" },
    # }}}
]
# }}}
