"$schema" = "https://yazi-rs.github.io/schemas/theme.json"

# Flavor {{{
[flavor]
use = ""
# }}}

# App {{{
[app]
overall = { bg = "#000000" }
# }}}

# Confirm {{{
[confirm]
body       = { fg = "white" }
border     = { fg = "white" }
title      = { fg = "white" }
btn_yes    = { fg = "white" }
btn_no     = { fg = "white" }
# }}}

# CMP {{{
[cmp]
border   = { fg = "blue" }
active   = { reversed = true }
inactive = {}

# Icons
icon_file    = ""
icon_folder  = ""
icon_command = ""
# }}}

# Filetype {{{
[filetype]
rules = [
    # Images
    { mime = "image/*", fg = "white" },

    # Media
    { mime = "{audio,video}/*", fg = "white" },

    # Archives
    { mime = "application/*zip", fg = "white" },
    { mime = "application/x-{tar,bzip*,7z-compressed,xz,rar}", fg = "white" },

    # Documents
    { mime = "application/{pdf,doc,rtf,vnd.*}", fg = "white" },

    # Fallback
    { name = "*",  fg = "white" },
    { name = "*/", fg = "white" },
    { url = "*",   fg = "white" },
]
# }}}

# Help {{{
[help]
on      = { fg = "magenta" }
run     = { fg = "cyan" }
desc    = { fg = "white" }
hovered = { reversed = true, bold = true }
footer  = { fg = "white", bg = "black" }

# Icons
icon_info  = ""
icon_warn  = ""
icon_error = ""
# }}}

# Icon {{{
[icon]
dirs = [
    { name = ".cfg",      text = "", fg = "grey" },
    { name = ".conf",     text = "", fg = "grey" },
    { name = ".config",   text = "", fg = "grey" },
    { name = ".git",      text = "", fg = "grey" },
    { name = ".github",   text = "", fg = "grey" },
    { name = ".npm",      text = "", fg = "grey" },
    { name = ".ssh",      text = "󰢬", fg = "grey" },
    { name = "git",       text = "", fg = "grey" },
    { name = "Desktop",   text = "", fg = "grey" },
    { name = "Documents", text = "", fg = "grey" },
    { name = "Downloads", text = "󰉍", fg = "grey" },
    { name = "Movies",    text = "", fg = "grey" },
    { name = "Music",     text = "", fg = "grey" },
    { name = "Pictures",  text = "󰉏", fg = "grey" },
    { name = "Public",    text = "", fg = "grey" },
    { name = "Videos",    text = "", fg = "grey" },
]
conds = [
    # Directories
    { if = "dir",           text = "" , fg = "grey" },
    # Files
    { if = "!(dir | link)", text = "" },
    # Symlinks
    { if = "link",          text = "󱅸" },
]
exts = [
    # Archive
    { name = "tar",  text = "󰛫", fg = "yellow" },
    { name = "zip",  text = "󰛫", fg = "yellow" },
    { name = "old",  text = "󱋡", fg = "yellow" },
    # Canva
    { name = "canvas",  text = "󰻫", fg = "white" },
    # Config
    { name = "cfg",  text = "", fg = "gray" },
    { name = "conf",  text = "", fg = "gray" },
    { name = "config",  text = "", fg = "gray" },
    { name = "qpwgraph",  text = "", fg = "gray" },
    # Copy
    { name = "copy",  text = "󰈢", fg = "white" },
    # Database
    { name = "db",  text = "", fg = "gray" },
    # Documents
    { name = "pdf",  text = "", fg = "white" },
    { name = "odt",  text = "", fg = "white" },
    # Image
    { name = "jpg", text = "󰈟", fg = "magenta" },
    { name = "png", text = "󰈟", fg = "magenta" },
    { name = "webp", text = "󰈟", fg = "magenta" },
    # Keys
    { name = "pub",  text = "󱆄", fg = "white" },
    # Programming
    { name = "c",  text = "", fg = "blue" },
    { name = "ini",  text = "", fg = "gray" },
    { name = "lua",  text = "", fg = "blue" },
    { name = "py",  text = "", fg = "yellow" },
    { name = "sh",  text = "󰈮", fg = "gray" },
    { name = "toml",  text = "", fg = "red" },
    # Temporary
    { name = "tmp",  text = "", fg = "white" },
    { name = "temp",  text = "", fg = "white" },
    # Text
    { name = "txt",  text = "󰈙", fg = "white" },
    { name = "md",  text = "󰈙", fg = "white" },
    # Video
    { name = "mp4", text = "󰈫", fg = "yellow" },
    { name = "mkv", text = "󰈫", fg = "yellow" },
    { name = "ts",  text = "󰈫", fg = "yellow" },
]
# }}}

# Indicator {{{
[indicator]
# current = { }
# parent = { }
preview = { fg = "white", underline = false }

padding = { open = "█", close = "█" }
# }}}

# Input {{{
[input]
border   = { fg = "white"    }
title    = { fg = "white"    }
value    = { fg = "white"    }
selected = { reversed = true }
# }}}

# Manager {{{
[mgr]

# Border
border_symbol = "│"
border_style  = { fg = "darkgrey" }

# Count
count_copied   = { fg = "white", bg = "green" }
count_cut      = { fg = "white", bg = "red" }
count_selected = { fg = "white", bg = "yellow" }

# CWD
cwd = { fg = "white"}

# Find
find_keyword  = { fg = "yellow", bold = true, italic = false, underline = false }
find_position = { fg = "yellow", bold = true, italic = true, bg = "reset"       }

# Marker
marker_copied   = { fg = "lightgreen",  bg = "lightgreen"  }
marker_cut      = { fg = "lightred",    bg = "lightred"    }
marker_marked   = { fg = "lightcyan",   bg = "lightcyan"   }
marker_selected = { fg = "lightyellow", bg = "lightyellow" }

# Syntax highlighting
syntect_theme = "/home/marci/.config/yazi/tmtheme/catppuccin-mocha.xml"
# }}}

# Mode {{{
[mode]
# Normal
normal_main = { fg = "white", bg = "black", bold = true }
normal_alt  = { fg = "white", bg = "black", bold = true }

# Select
select_main = { fg = "white", bg = "black", bold = true }
select_alt  = { fg = "white", bg = "black", bold = true }

# Unset
unset_main  = { fg = "white", bg = "black", bold = true }
unset_alt   = { fg = "white", bg = "black", bold = true }
# }}}

# Notify {{{
[notify]
title_info  = { fg = "green" }
title_warn  = { fg = "yellow" }
title_error = { fg = "red" }
# }}}

# Pick {{{
[pick]

# }}}

# Spot {{{
[spot]
border   = { fg = "white" }
title    = { fg = "white" }
tbl_col  = { fg = "white" }
tbl_cell = { fg = "white" }
# }}}

# Status {{{
[status]

# overall = { bg = "" }

# Separator
sep_left  = { open = "", close = "" }
sep_right = { open = "", close = "" }

# Permissions
perm_type  = { fg = "gray"  }
perm_read  = { fg = "white" }
perm_write = { fg = "white" }
perm_exec  = { fg = "white" }
perm_sep   = { fg = "white" }

# Progress
progress_label  = { bold = true }
progress_normal = { fg = "white", bg = "black" }
progress_error  = { fg = "red", bg = "black" }
# }}}

# Tabs {{{
[tabs]
active = { fg = "white", bg = "darkgrey"}
inactive = { fg = "grey", bg = "black"}
sep_inner = { open = "", close = ""}
sep_outer = { open = "", close = ""}
# }}}

# Tasks {{{
[tasks]
border  = { fg = "white" }
title   = { fg = "white" }
hovered = { fg = "white", bold = true }
# }}}

# Which {{{
[which]
cols            = 3
mask            = { bg = "black" }
cand            = { fg = "lightcyan" }
rest            = { fg = "darkgray" }
desc            = { fg = "white" }
separator       = "  "
separator_style = { fg = "darkgray" }
# }}}
