# https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/yazi-default.toml
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

# Manager {{{
[mgr]
ratio          = [ 3, 3, 7 ]
sort_by        = "natural"
sort_sensitive = false
sort_reverse   = false
sort_dir_first = true
sort_translit  = true
linemode       = "none"
show_hidden    = true
show_symlink   = true
scrolloff      = 100
mouse_events   = [ "click", "scroll" ]
title_format   = "Yazi: {cwd}"
# }}}

# Preview {{{
[preview]
wrap            = "no"
tab_size        = 2
max_width       = 1000
max_height      = 1000
cache_dir       = ""
image_delay     = 100
image_filter    = "triangle"
image_quality   = 90
ueberzug_scale  = 1
ueberzug_offset = [ 0, 0, 0, 0 ]
# }}}

# Opener {{{
[opener]
edit = [
    { run = "$EDITOR %s", desc = "nvim", block = true }
]
play = [
    { run = 'vlc "$@"', desc = "vlc", orphan = true },
    { run = 'mpv "$@"', desc = "mpv", orphan = true }
]
open = [
    { run = 'xdg-open "$@"', desc = "XDG open" }
]
browser = [
    { run = 'firefox "$@"', desc = "Browser" }
]
# }}}

# Open {{{
[open]
rules = [
    # Edit
    { url = "*.c",      use = "edit" },
    { url = "*.canvas", use = "edit" },
    { url = "*.conf",   use = "edit" },
    { url = "*.corn",   use = "edit" },
    { url = "*.cfg",    use = "edit" },
    { url = "*.cpp",    use = "edit" },
    { url = "*.css",    use = "edit" },
    { url = "*.html",   use = ["edit", "browser" ] },
    { url = "*.ini",    use = "edit" },
    { url = "*.js",     use = "edit" },
    { url = "*.json",   use = "edit" },
    { url = "*.lua",    use = "edit" },
    { url = "*.md",     use = "edit" },
    { url = "*.out",    use = "edit" },
    { url = "*.sh",     use = "edit" },
    { url = "*.py",     use = "edit" },
    { url = "*.rs",     use = "edit" },
    { url = "*.ron",    use = "edit" },
    { url = "*.scss",   use = "edit" },
    { url = "*.toml",   use = "edit" },
    { url = "*.txt",    use = "edit" },
    { url = "*.xml",    use = "edit" },
    { url = "*.yml",    use = "edit" },
    { url = "*.yaml",   use = "edit" },
    { url = "*.zig",    use = "edit" },
    { url = "config",   use = "edit" },
    { mime = "text/*",  use = "edit" },
    # Browser
    { url = "*.HEIC", use = "browser" },
    { url = "*.pdf", use = "browser" },
    # Open
    { mime = "image/*", use = "open" },
    # Play
    { mime = "{audio,video}/*", use = "play" },
]
append_rules = [
    { url = "*", use = "open" }
]
# }}}

# Tasks {{{
[tasks]
bizarre_retry    = 5
image_alloc      = 536870912  # 512MB
image_bound      = [ 0, 0 ]
macro_workers    = 25
micro_workers    = 10
suppress_preload = false
# }}}

# Plugin {{{
[plugin]
# fetchers = [
#     # Mimetype
#     { id = "mime", name = "*", run = "mime", if = "!mime", prio = "high" },
# ]
# preloaders = [
#     # Image
#     { mime = "image/{avif,heic,jxl,svg+xml}", run = "magick" },
#     { mime = "image/*", run = "image" },
#     # Video
#     { mime = "video/*", run = "vlc" },
#     # PDF
#     { mime = "application/pdf", run = "pdf" },
#     # Font
#     { mime = "font/*", run = "font" },
#     { mime = "application/vnd.ms-opentype", run = "font" },
# ]
# previewers = [
#     { name = "*/", run = "folder", sync = true },
#     # Code
#     { mime = "text/*", run = "code" },
#     { mime = "*/{xml,javascript,x-wine-extension-ini}", run = "code" },
#     # JSON
#     { mime = "application/{json,x-ndjson}", run = "json" },
#     # Image
#     { mime = "image/{avif,heic,jxl,svg+xml}", run = "magick" },
#     { mime = "image/*", run = "image" },
#     # Video
#     { mime = "video/*", run = "vlc" },
#     # PDF
#     { mime = "application/pdf", run = "pdf" },
#     # Archive
#     { mime = "application/{,g}zip", run = "archive" },
#     { mime = "application/x-{tar,bzip*,7z-compressed,xz,rar,iso9660-image}", run = "archive" },
#     # Font
#     { mime = "font/*", run = "font" },
#     { mime = "application/vnd.ms-opentype", run = "font" },
#     # Fallback
#     { name = "*", run = "file" },
# ]
# }}}

# Input {{{
[input]
cursor_blink = false

# cd
cd_title  = " Change directory "
cd_origin = "bottom-center"
cd_offset = [ 0, 0, 50, 3 ]

# create
create_title  = [" Create ", " Create [dir] "]
create_origin = "bottom-center"
create_offset = [ 0, 0, 50, 3 ]

# rename
rename_title  = " Rename "
rename_origin = "bottom-center"
rename_offset = [ 0, 0, 50, 3 ]

# filter
filter_title  = " Filter "
filter_origin = "bottom-center"
filter_offset = [ 0, 0, 50, 3 ]

# find
find_title  = [ " Find [Next] ", " Find [Previous] " ]
find_origin = "bottom-center"
find_offset = [ 0, 0, 50, 3 ]

# search
search_title  = " Search [{n}] "
search_origin = "bottom-center"
search_offset = [ 0, 0, 50, 3 ]

# shell
shell_title  = [ " Shell ", " Shell [Block] " ]
shell_origin = "bottom-center"
shell_offset = [ 0, 0, 50, 3 ]
# }}}

# Log {{{
[log]
enabled = false
# }}}

# Pick {{{
[pick]
open_title  = " Open with "
open_origin = "bottom-center"
open_offset = [ 0, 0, 50, 7 ]
# }}}

# Confirm {{{
[confirm]
# trash
trash_title   = " Move to trash? [{n}] "
trash_origin  = "bottom-center"
trash_offset  = [ 0, 0, 50, 3 ]

# delete
delete_title  = " DELETE PERMANENTLY? [{n}] "
delete_origin = "bottom-center"
delete_offset = [ 0, 0, 50, 3 ]

# overwrite
overwrite_title  = " Overwrite existing file? "
overwrite_origin = "bottom-center"
overwrite_offset = [ 0, 0, 50, 3 ]

# quit
quit_title  = " {n} task{s} running. Quit? "
quit_origin = "bottom-center"
quit_offset = [ 0, 0, 50, 3 ]
# }}}

# Which {{{
[which]
sort_by        = "none"
sort_sensitive = false
sort_reverse   = false
sort_translit  = false
# }}}
