// Animations {{{
animations {
    // off
    // slowdown 1.0
}
// }}}

// Binds {{{
// `niri msg action`
binds {

    // Niri {{{

    // Hotkey Help (Mod-Shift-/, Mod-?)
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Overview
    Mod+U repeat=false { toggle-overview; }

    // Quit (show confirmation dialog)
    // Mod+Shift+Q { quit; }
    Ctrl+Alt+Delete { quit; }

    // // Shortcut inhibiting {{{
    // // Applications such as remote-desktop clients and software KVM switches may
    // // request that niri stops processing the keyboard shortcuts defined here
    // // so they may, for example, forward the key presses as-is to a remote machine.
    // // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // // so a buggy application can't hold your session hostage.
    // //
    // // The allow-inhibiting=false property can be applied to other binds as well,
    // // which ensures niri always processes them, even when an inhibitor is active.
    // Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    // // }}}

    // // Touchpad - Scroll {{{
    // // Similarly, you can bind touchpad scroll "ticks".
    // // Touchpad scrolling is continuous, so for these binds it is split into
    // // discrete intervals.
    // // These binds are also affected by touchpad's natural-scroll, so these
    // // example binds are "inverted", since we have natural-scroll enabled for
    // // touchpads by default.
    // // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
    // // }}}

    // Volume (PipeWire & WirePlumber) {{{
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    // }}}

    // Wallpaper {{{
    Mod+W { spawn "~/.config/hypr/scripts/wallpaper.py"; }
    // }}}

    // }}}

    // App Launch {{{
    Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Mod+B hotkey-overlay-title="Run an Application: Firefox" { spawn "firefox"; }
    Mod+D hotkey-overlay-title="Run an Application: rofi" { spawn "sh" "-c" "pkill rofi || rofi -show drun"; }
    // Mod+D hotkey-overlay-title="Run an Application: Sherlock" { spawn "sherlock"; }
    Mod+L hotkey-overlay-title="Run an Application: Hyprlock" { spawn "hyprlock"; }
    // }}}

    // Column {{{
    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    // Mod+J { toggle-column-tabbed-display; }
    // }}}

    // Column - Focus {{{
    Mod+Home    { focus-column-first; }
    Mod+End     { focus-column-last; }
    // }}}

    // Column - Move {{{

    // Column - Move to first/last
    // Mod+Ctrl+Home { move-column-to-first; }
    // Mod+Ctrl+End  { move-column-to-last; }

    // Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    // Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    // Mod+Ctrl+U         { move-column-to-workspace-down; }
    // Mod+Ctrl+I         { move-column-to-workspace-up; } // Duplicate

    // }}}

    // Column - Width {{{
    Mod+R { switch-preset-column-width; }
    // Mod+Shift+R { switch-preset-window-height; }
    // Mod+Ctrl+R { reset-window-height; }


    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    // Alt+M { set-column-width "-10%"; }
    // Alt+I { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    // Alt+N { set-window-height "-10%"; }
    // Alt+E { set-window-height "+10%"; }
    // }}}

    // Column - Consume/Expel {{{
    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    // Mod+Alt+M   { consume-or-expel-window-left; }
    // Mod+Alt+I   { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    // Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    // Mod+Period { expel-window-from-column; }
    // }}}

    // Column - Center {{{
    // Mod+C { center-column; }

    // Center all fully visible columns on screen.
    // Mod+Ctrl+C { center-visible-columns; }
    // }}}

    // Expand & Fullscreen & Maximize {{{
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    // Windowed fullscreen
    //https://github.com/YaLTeR/niri/wiki/Fullscreen-and-Maximize#windowed-fullscreen
    Mod+Alt+F { toggle-windowed-fullscreen; }
    // toggle-windowed-fullscreen

    // }}}

    // Layouts - Switch {{{
    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }
    // }}}

    // Monitor {{{
    // Mod+P { power-on-monitors; }
    // Mod+Shift+P { power-off-monitors; }
    // }}}

    // Monitor - Focus {{{
    // }}}

    // Scroll Bindings {{{
    // https://yalter.github.io/niri/Configuration%3A-Key-Bindings.html#scroll-bindings
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
    // }}}

    // Focus {{{

    // Move seamlessly between Workspaces
    // Use `Alt` for Monitors

    // Column & Window
    Mod+M { focus-window-down-or-column-left; }
    Mod+N { focus-window-or-workspace-down; }
    Mod+E { focus-window-or-workspace-up; }
    Mod+I { focus-window-down-or-column-right; }

    // Workspace

    // Monitor
    Alt+M { focus-monitor-left; }
    Alt+N { focus-monitor-down; }
    Alt+E { focus-monitor-up; }
    Alt+I { focus-monitor-right; }

    // // Focus B {{{
    //
    // // Move seamlessly between Monitors
    // // Use `Alt` for Workspaces
    //
    // // Column & Window
    // Mod+M       { focus-column-or-monitor-left; }
    // Mod+N       { focus-window-or-monitor-down; }
    // Mod+E       { focus-window-or-monitor-up; }
    // Mod+I       { focus-column-or-monitor-right; }
    //
    // // Workspace
    // Alt+N     { focus-workspace-down; }
    // Alt+E     { focus-workspace-up; }
    //
    // // Monitor (not required in this setup)
    //
    // // }}}

    // }}}

    // Move {{{

    // Column & Window
    Mod+Shift+M     { move-column-left-or-to-monitor-left; }
    Mod+Shift+N     { move-window-down-or-to-workspace-down; }
    Mod+Shift+E     { move-window-up-or-to-workspace-up; }
    Mod+Shift+I     { move-column-right-or-to-monitor-right; }
    // Mod+Shift+N     { spawn-sh "/home/marci/.config/niri/scripts/move-window-du.py -md"; }
    // Mod+Shift+E     { spawn-sh "/home/marci/.config/niri/scripts/move-window-du.py -mu"; }

    Alt+Shift+M     { move-window-to-monitor-left; }
    Alt+Shift+N     { move-window-to-monitor-down; }
    Alt+Shift+E     { move-window-to-monitor-up; }
    Alt+Shift+I     { move-window-to-monitor-right; }

    // Workspace
    Alt+Ctrl+M     { move-workspace-to-monitor-left; }
    Alt+Ctrl+N     { move-workspace-to-monitor-down; }
    Alt+Ctrl+E     { move-workspace-to-monitor-up; }
    Alt+Ctrl+I     { move-workspace-to-monitor-right; }

    Mod+Ctrl+N     { move-workspace-down; }
    Mod+Ctrl+E     { move-workspace-up; }

    // }}}

    // Window {{{

    // Close
    Mod+Q { close-window; }

    // Move the focused window between the floating and the tiling layout.
    Mod+T       { toggle-window-floating; }

    // Focus between floating and tiling
    // Mod+Shift+T { switch-focus-between-floating-and-tiling; }

    // }}}

    // Window - Focus {{{
    // Mod+N       { focus-window-down; }
    // Mod+E       { focus-window-up; }

    // Focus across workspaces
    // Mod+M       { focus-column-or-monitor-left; }
    // Mod+N       { focus-window-or-monitor-down; }
    // Mod+E       { focus-window-or-monitor-up; }
    // Mod+I       { focus-column-or-monitor-right; }
    // }}}

    // Window - Move {{{
    // Mod+Shift+N     { move-window-down; }
    // Mod+Shift+E     { move-window-up; }

    // Window - Move across workspaces
    // Mod+Shift+N     { move-window-down-or-to-workspace-down; }
    // Mod+Shift+E     { move-window-up-or-to-workspace-up; }

    // Alternatively, there are commands to move just a single window
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    // Alternatively, there are commands to move just a single window
    // Mod+Shift+Ctrl+M  { move-window-to-monitor-left; }
    // Mod+Shift+G  { move-window-to-monitor-up; }
    // Mod+Shift+G  { move-window-to-monitor-down; }
    // Mod+Shift+G  { move-window-to-monitor-down; }
    // ...
    // }}}

    // Workspace {{{
    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }
    // }}}

    // Workspace - Focus {{{

    // Current & previous
    // Mod+Tab { focus-workspace-previous; }
    // }}}

    // Workspace - Move {{{
    // Alt+N         { move-workspace-down; }
    // Alt+E         { move-workspace-up; }

    // Move workspace to another monitor
    // Alt+Ctrl+M { move-workspace-to-monitor-left; }
    // Alt+Ctrl+N { move-workspace-to-monitor-down; }
    // Alt+Ctrl+E { move-workspace-to-monitor-up; }
    // Alt+Ctrl+I { move-workspace-to-monitor-right; }
    // }}}

}
// }}}

// Cursor {{{
cursor {
    hide-after-inactive-ms 5000
    xcursor-size 10
}
// }}}

// Environment {{{
environment {
    QT_QPA_PLATFORM "wayland"
    // DISPLAY null
}
// }}}

// Clipboard {{{
clipboard {
    // disable-primary
}
// }}}

// Hotkey Overlay {{{
hotkey-overlay {
    skip-at-startup
    hide-not-bound
}
// }}}

// Input {{{
input {

    // Mod {{{

    mod-key "Super"
    mod-key-nested "Alt"

    // }}}

    // Mouse warp & focus {{{

    // Mouse warp
    // https://yalter.github.io/niri/Configuration%3A-Input.html#warp-mouse-to-focus
    warp-mouse-to-focus

    // Mouse focus
    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    // focus-follows-mouse max-scroll-amount="0%"
    focus-follows-mouse

    // }}}

    // Keyboard {{{
    // https://yalter.github.io/niri/Configuration%3A-Input.html#keyboard

    keyboard {
        xkb {
            layout "us"
            options "caps:capslock"
            variant "colemak_dh"
        }

        // repeat-delay 600
        // repeat-rate 25
        // track-layout "global"
        numlock
    }

    // }}}

    // Pointing Devices {{{
    // https://yalter.github.io/niri/Configuration%3A-Input.html#pointing-devices
    touchpad {
        tap
        natural-scroll
        // off
        // accel-profile "flat"
        // accel-speed 0.2
        // disabled-on-external-mouse
        // drag false
        // drag-lock
        // dwt
        // dwtp
        // scroll-method "two-finger"
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }
    // }}}

}
// }}}

// Layer Rules {{{
// https://yalter.github.io/niri/Configuration%3A-Layer-Rules.html
// `niri msg layers`
layer-rule {
    // Overview: Use awww (swww) as backdrop
    // https://yalter.github.io/niri/Overview.html#backdrop-customization
    match namespace="^swww-daemon$"
    place-within-backdrop true

}
// }}}

// Layout {{{
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 12
    center-focused-column "never"
    always-center-single-column
    // default-column-display "tabbed"
    background-color "transparent"
    // preset-window-heights { }

    // Border {{{
    border {
        off
        width 2
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
        // active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    // }}}

    // Column Width {{{

    // Default Width
    // https://yalter.github.io/niri/Configuration%3A-Layout.html#default-column-width
    default-column-width { }

    // Preset Width
    // Width preset with `switch-preset-column-width` (Mod+R)
    // https://yalter.github.io/niri/Configuration%3A-Layout.html#preset-column-widths
    preset-column-widths {
        proportion 0.33
        proportion 0.5
        proportion 0.66
        proportion 1.0
    }

    // }}}

    // Focus ring {{{
    // https://yalter.github.io/niri/Configuration%3A-Layout.html#focus-ring-and-border
    focus-ring {
        width 2
        active-color "#eeeeee"
        inactive-color "#505050"
    }
    // }}}

    // Insert Hint {{{
    insert-hint {
        on
        gradient from="#FF000050" to="#0000FF50" angle=45 relative-to="workspace-view"
    }
    // }}}

    // Shadow {{{
    shadow {
        // Uncomment the next line to enable shadows.
        // on

        // By default, the shadow draws only around its window, and not behind it.
        // Uncomment this setting to make the shadow draw behind its window.
        //
        // Note that niri has no way of knowing about the CSD window corner
        // radius. It has to assume that windows have square corners, leading to
        // shadow artifacts inside the CSD rounded corners. This setting fixes
        // those artifacts.
        // 
        // However, instead you may want to set prefer-no-csd and/or
        // geometry-corner-radius. Then, niri will know the corner radius and
        // draw the shadow correctly, without having to draw it behind the
        // window. These will also remove client-side shadows if the window
        // draws any.
        // 
        // draw-behind-window true

        // You can change how shadows look. The values below are in logical
        // pixels and match the CSS box-shadow properties.

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }
    // }}}

    // Struts {{{
    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
    // }}}
}
// }}}

// Misc {{{
// No client-side decorations
prefer-no-csd

// Screenshot
screenshot-path "~/tmp/screenshots/%Y%m%d-%H%M%S.png"
// }}}

// Outputs {{{

// Configure Outputs by their name
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// `niri msg outputs`

// Laptop {{{
// output "eDP-1" {
//     // off
//     mode "1920x1200@60.001"
//     scale 1
//         transform "normal"
// }
// }}}

// Docked {{{
// // Top
// output "DP-7" {
//     mode "1920x1080@60.00000"
//     scale 1
//         transform "normal"
//         position x=960 y=0
// }
//
// // Bottom-Left
// output "DP-8" {
//     mode "1920x1080@60.00000"
//     scale 1
//         transform "normal"
//         position x=0 y=1080
// }
//
// // Bottom-Right
// output "DP-9" {
//     mode "1920x1080@60.00000"
//     scale 1
//         transform "normal"
//         position x=1920 y=1080
// }
// }}}

// }}}

// Overview {{{
overview {
    zoom 0.5
    backdrop-color "#222222"

    // Shadow
    // https://yalter.github.io/niri/Configuration%3A-Layout.html#shadow
    workspace-shadow {
        softness 100
        spread 20
        offset x=20 y=20
        color "#000000ff"
    }

}
// }}}

// Startup {{{
spawn-at-startup "kanshi"
spawn-at-startup "swww-daemon"
// spawn-at-startup "xwayland-satellite"

// Waybar
// Add Waybar systemd unit to the Niri session
// `systemctl --user add-wants niri.service waybar.service`
// spawn-at-startup "waybar"
// }}}

// Window Rules {{{

// Get Window Properties
// `niri msg pick-window`

// Firefox
window-rule {
    match app-id="firefox"
    // Fix border width
    // https://yalter.github.io/niri/FAQ.html#why-does-firefox-or-thunderbird-have-1-px-smaller-border
    clip-to-geometry true
    open-maximized false
    open-floating false
}


// Firefox - Picture-in-picture player as floating
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    // Fix border width
    // https://yalter.github.io/niri/FAQ.html#why-does-firefox-or-thunderbird-have-1-px-smaller-border
    clip-to-geometry true
}

// Ghostty
window-rule {
    match app-id="ghostty"
    default-column-width { proportion 1.00; }
    draw-border-with-background false
    opacity 0.95
}

// Spotify
window-rule {
    match app-id="spotify"
    open-on-workspace "spotify"
    default-column-width { proportion 1.00; }
}

// VirtualBox Machine
window-rule {
    match app-id="VirtualBox Machine"
    default-column-width { proportion 1.00; }
}

// VirtualBox Manager
window-rule {
    match app-id="VirtualBox Manager"
    default-column-width { proportion 1.00; }
}

// }}}

// Recent Windows {{{
recent-windows {

}
// }}}

// Workspaces {{{
workspace "spotify" {
    open-on-output "PNP(BNQ) BenQ RL2755 N7F05437SL0"
}
// }}}
