include "./cfg/animations.kdl"
include "./cfg/binds.kdl"
include "./cfg/gestures.kdl"
include "./cfg/input.kdl"
include "./cfg/layout.kdl"
include "./cfg/layer-rules.kdl"
include "./cfg/misc.kdl"
include "./cfg/outputs.kdl"
include "./cfg/recent-windows.kdl"
include "./cfg/window-rules.kdl"
