// Outputs

// WARNING: Unused config
// Outputs are configured via Kanshi

// Configure Outputs by their name
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// `niri msg outputs`

// Laptop {{{
// output "eDP-1" {
//     // off
//     mode "1920x1200@60.001"
//     scale 1
//         transform "normal"
// }
// }}}

// Docked {{{
// // Top
// output "DP-7" {
//     mode "1920x1080@60.00000"
//     scale 1
//         transform "normal"
//         position x=960 y=0
// }
//
// // Bottom-Left
// output "DP-8" {
//     mode "1920x1080@60.00000"
//     scale 1
//         transform "normal"
//         position x=0 y=1080
// }
//
// // Bottom-Right
// output "DP-9" {
//     mode "1920x1080@60.00000"
//     scale 1
//         transform "normal"
//         position x=1920 y=1080
// }
// }}}
