// Window Rules
// https://yalter.github.io/niri/Configuration:-Window-Rules.html

// Get Window Properties
// `niri msg pick-window`

window-rule {
    default-column-width { proportion 1.0; }
    open-maximized-to-edges false
    open-fullscreen false
}

// Firefox {{{
window-rule {
    match app-id="firefox"
    // Fix border width
    // https://yalter.github.io/niri/FAQ.html#why-does-firefox-or-thunderbird-have-1-px-smaller-border
    clip-to-geometry true
    open-maximized false
    open-floating false
}

// Picture-in-Picture
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
// }}}

// Ghostty {{{
window-rule {
    match app-id="ghostty"
    // default-column-width { proportion 1.00; }
    draw-border-with-background false
    opacity 0.95
}
// }}}

// Spotify {{{
window-rule {
    match app-id="spotify"
    open-on-output "PNP(BNQ) BenQ RL2755 N7F05437SL0"
}

// Picture-in-Picture
window-rule {
    match app-id="chromium-browser"
    open-floating true
    default-column-width { fixed 300; }
    default-window-height { fixed 300; }
    default-floating-position x=50 y=50 relative-to="bottom-right"

    // Pinned/sticky/show on all workspaces floating windows #932
    // https://github.com/YaLTeR/niri/issues/932
}
// }}}

// VirtualBox Machine {{{
// window-rule {
//     match app-id="VirtualBox Machine"
//     default-column-width { proportion 1.00; }
// }
//
// // VirtualBox Manager
// window-rule {
//     match app-id="VirtualBox Manager"
//     default-column-width { proportion 1.00; }
// }
// }}}
