configuration {
  modes: "window,drun,run,ssh";
  font: "mono 12";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
