@import '../../.cache/matugen/colors.css';

* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 20px;
    padding: 0 0px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: @primary;
}

/* font-family: Noto Sans Mono, Roboto, Helvetica, Arial, monospace; */
/* {{{ Monitors */
/* window.eDP-1 * { font-size: 10px; } */
/* }}} */

/* {{{ Workspaces */
#workspaces button {
    background-color: transparent;
    color: @primary;
    padding: 0 3px;
}

#workspaces button.empty {
    /*color: @primary_container;*/
    /*color: @on_secondary;*/
    color: gray;
    background-color: transparent;
}

#workspaces button.visible {
    background-color: transparent;
}

#workspaces button.active {
    color: black;
    background-color: @primary;
}

#workspaces button:hover {
    border-top: 0px solid;
    background: black;
    color: white;
}

/* #workspaces button.current_output.visible { */
/*     background: #90b1b1; */
/*     color: blue; */
/* } */

/* #workspaces button.current_output.focused { */
/*     background: #ff0088; */
/*     color: blue; */
/* } */

/*#workspaces button.focused { */
/*     color: red; */
/*     background: #64F27D; */
/*     border-top: 5px solid white; */
/*}*/
/* }}} */

/* {{{ Widgets */
#mode,
#clock,
#battery,
#cpu,
#disk,
#memory,
#network,
#wireplumber {
    padding: 0 5px;
}

#mode {
    background: #64727D;
    border-bottom: 0px solid white;
}

#clock {
    background-color: @on_secondary;
}

#battery {
    background-color: @secondary_container;
    color: @primary;
}

#battery.charging {
    background-color: @secondary_container;
    color: @primary;
}

#battery.warning:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #f53c3c;
    color: @primary;
}

#network {
    padding: 0px 7px 0px 2px;
}

#wireplumber {
}

#cpu {
}

#disk {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
/* }}} */
