@import '../../.cache/matugen/colors.css';

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono", "SourceHanSansJP", monospace;
    font-size: 14px;
    min-height: 20px;
    padding: 0 0px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.75);
    border-bottom: 0px solid rgba(0, 0, 0, 0.75);
    color: @primary;
}

/* Workspaces {{{ */
#workspaces button {
    background-color: transparent;
    color: @primary;
    padding: 0 3px;
}

#workspaces button.empty {
    background-color: transparent;
    color: gray;
}

#workspaces button.visible {
    background-color: transparent;
}

#workspaces button.active {
    color: black;
    background-color: @primary;
}

#workspaces button:hover {
    background: @on_secondary;
    border-top: transparent;
    color: white;
}
/* }}} */

/* Widgets {{{ */
#mode,
#clock,
#battery,
#cpu,
#disk,
#memory,
#network,
#wireplumber {
    padding: 0 5px;
}

#mode {
    background: #64727D;
    border-bottom: 0px solid white;
}

#clock {
    background-color: @primary_container;
}

#battery {
    background-color: @on_secondary;
    color: @primary;
}

#battery.charging {
    background-color: @on_secondary;
    color: @primary;
}

#battery.warning:not(.charging) {
    animation-name: blink;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(12);
    background: #f53c3c;
    color: @on_secondary;
}

#network {
    background-color: @secondary_container;
    padding: 0px 5px 0px 5px;
}

#wireplumber {
    background-color: transparent;
}

#cpu {
    background-color: transparent;
}

#disk {
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
/* }}} */
