:root {
    --tab-block-margin: 3px 3px !important;
    --inline-tab-padding: 5px !important;
    --tab-border-radius: 0px !important;
    --tab-shadow-max-size: 0px !important;
    --tab-block-margin: 3px !important;
    --toolbar-field-focus-border-color: transparent !important;
}

/* MULTI-ACCOUNT CONTAINERS {{{ */
#tabbrowser-tabs .tab-context-line {
  display: none !important;
}

#tabbrowser-tabs .tab-background {
  border-bottom: solid 2px var(--identity-icon-color) !important;
}
/* }}} */

/* NEW TAB BUTTON {{{ */
#TabsToolbar{
    --toolbarbutton-inner-padding: 4px !important;
}

toolbarbutton#tabs-newtab-button {
    margin-inline: 5px !important;
    padding: 0 !important;
}
/* }}} */

/* TABS {{{ */
.tab-background {
    /* Remove top and bottom spaces on tabs, causing additional height on title bar */
    margin-block: 0 !important;
}

.tabbrowser-tab {
    /* Remove gaps between tabs */
    padding: 0 !important;
}

.tabbrowser-tab {
    /* Height & inline padding (spacing) */
    min-height: 14px !important;
    padding-inline: 0px !important;
}

/* Width */
.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
    max-width: 200px !important;
}

/* Prevent tab overflow increased height */
#tabbrowser-arrowscrollbox {
    --tab-min-height: 35px !important;
    max-height: var(--tab-min-height) !important;
}

/* Pinned tab margin */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: 0 !important;
}

/* Decrease padding */
hbox.tab-content {
    padding-inline: 10px !important;
}
/* }}} */

/* TITLE BAR {{{ */
.titlebar-spacer {
    /* Hide spacer next to "Close" button */
    display: none !important;
}

#alltabs-button {
    /* Hide button "List All Tabs" */
    display: none !important;
}
/* }}} */

/* TOOLBAR {{{ */
hbox#urlbar {
    min-height: 30px !important;
}

hbox#urlbar:not([focused="true"]) {
    /* BUG: Makes URL bar dropdown transparent */
    /* max-height: 30px !important; */
}

toolbar#nav-bar {
    max-height: 30px !important;
}
/* }}} */

/* URL BAR {{{ */
#navigator-toolbox {
    /* Remove bottom border */
    border-bottom: unset !important;
}

#pageAction-urlbar-_testpilot-containers {
    /* Remove button "Always Open Site in Container" */
    display: none !important;
}

#urlbar-background {
    /* Radius & Color */
    border-radius: 0px !important;
    --toolbar-field-background-color: rgba(66, 65, 77, 1) !important;
}

#urlbar-container {
    /* Remove top spacing */
    margin-top: 0px !important;
    --urlbar-container-height: 30px !important;
}
/* }}}*/

/* BOOKMARKS {{{ */
#customizableui-special-spring9 {
    /* Remove spacing at the end of Bookmarks bar */
    display: none !important;
}

#star-button-box {
    /* Remove button "Bookmark this page" */
    display: none !important;
}
/* }}} */
