:root {
    --tab-block-margin: 3px 3px !important; /* Tab margin */
}

.tabbrowser-tab {
    min-height:     14px !important; /* Tab height */
    padding-inline:  0px !important; /* Tab inline padding */
}

.tabbrowser-tab[first-visible-tab] {
    padding-inline-start: 53px !important;
}

/*#nav-bar {*/
/*    box-shadow: 10px !important;*/
/*}*/

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: 0 !important; /* Pinned tab margin */
}

.tab-background,
.tab-loading-burst {
    border:        none !important; /* Tab border */
    border-radius:  0px !important; /* Tab border radius */
}

/* prevent tab overflow increased height */
#tabbrowser-arrowscrollbox {
    --tab-min-height: 35px !important;
    max-height: var(--tab-min-height);
}

#urlbar-container {
    --urlbar-container-height: 30px !important; /* URL bar height */
    margin-top:                  50 !important; /* URL bar margin */
}

#TabsToolbar{
    --toolbarbutton-inner-padding:  3px !important; /* New Tab icon padding */
}

#urlbar-input {
    height:    28px !important; /* URL bar input height */
    font-size: 16px !important; /* URL bar input font size */
}

#urlbar-background {
    --toolbar-field-background-color: #222222 !important; /* URL bar color */
}

/* List All Tabs button */
#alltabs-button { display: none !important; }
