@import "/home/marci/.cache/matugen/colors.scss";

* {
  all: unset;
}

.bar-widget {
  color: $color1;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  padding: 0rem;
  margin: 0rem;
}


@import "scss/workspaces.scss";
@import "scss/window-name.scss"

@import "scss/music.scss"

@import "scss/disk.scss"
@import "scss/network.scss"
@import "scss/ram.scss"
@import "scss/volume.scss"
@import "scss/battery.scss"
@import "scss/time-date.scss"

@import "scss/control.scss"
