layout {
    focus-ring {
        active-gradient from="{{colors.primary.default.hex}}" to="{{colors.on_primary.default.hex}}" angle=160
    }
    insert-hint {
        gradient from="{{colors.primary.default.hex}}" to="{{colors.on_primary.default.hex}}" angle=160
    }
}


recent-windows {
    highlight {
        active-color "{{colors.primary.default.hex}}ff"
        urgent-color "ff0000ff"
    }
}
