layout {
    focus-ring {
        active-gradient from="{{colors.primary.default.hex}}" to="{{colors.on_primary.default.hex}}" angle=160
    }
    insert-hint {
        on
        gradient from="{{colors.primary.default.hex}}" to="{{colors.on_primary.default.hex}}" angle=160
    }
}


