* {
    background:     #151515FF;
    background-alt: {{colors.on_primary_fixed.default.hex}}FF;
    foreground:     {{colors.secondary.default.hex}}FF;
    selected:       {{colors.primary.default.hex}}FF;
    active:         #414868FF;
    urgent:         #F7768EFF;
}
