// Layout
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout

// Include Colors
include "/home/marci/.cache/matugen/colors.kdl"

// Optional Include
// https://yalter.github.io/niri/Configuration:-Include.html#optional-includes
// include opitonal=true "/home/marci/.cache/matugen/colors.kdl"

layout {
    // Background Color {{{
    // https://niri-wm.github.io/niri/Configuration:-Layout.html#background-color
    background-color "transparent"
    // }}}

    // Border {{{
    // https://niri-wm.github.io/niri/Configuration:-Layout.html#focus-ring-and-border
    border {
        off
    }
    // }}}

    // Center Focused Column {{{
    // https://niri-wm.github.io/niri/Configuration:-Layout.html#center-focused-column
    center-focused-column "never"
    // }}}

    // Column Width {{{

    // Default Width
    // https://yalter.github.io/niri/Configuration:-Layout.html#default-column-width
    default-column-width { proportion 1.0; }

    // Preset Width
    // Width preset with `switch-preset-column-width` (Mod+R)
    // https://yalter.github.io/niri/Configuration:-Layout.html#preset-column-widths
    preset-column-widths {
        proportion 0.33
        proportion 0.5
        proportion 0.66
        proportion 1.0
    }
    // }}}

    // Default Column Display {{{
    // https://niri-wm.github.io/niri/Configuration:-Layout.html#default-column-display
    default-column-display "normal"
    // }}}

    // Focus Ring {{{
    // https://yalter.github.io/niri/Configuration:-Layout.html#focus-ring-and-border
    focus-ring {
        width 2
        inactive-color "#222222"
        urgent-gradient from="#800" to="#a33" angle=45
        // active-color imported from Matugen
    }
    // }}}

    // Gaps {{{
    // https://niri-wm.github.io/niri/Configuration:-Layout.html#gaps
    gaps 12
    // }}}

    // Insert Hint {{{
    // https://niri-wm.github.io/niri/Configuration:-Layout.html#insert-hint
    insert-hint {
        on
        // color is imported from Matugen
    }
    // }}}

    // Shadow {{{
    // https://niri-wm.github.io/niri/Configuration:-Layout.html#shadow
    shadow {
        off
        draw-behind-window false
        softness 5
        spread 5
        offset x=2 y=2
        color "#ff0000"
    }
    // }}}

    // Struts {{{
    // https://niri-wm.github.io/niri/Configuration:-Layout.html#struts
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
    // }}}

    // Tab indicator {{{
    // https://yalter.github.io/niri/Configuration:-Layout.html#tab-indicator
    tab-indicator {

    }
    // }}}

    // Window Height {{{
    // https://yalter.github.io/niri/Configuration:-Layout.html#preset-window-heights
    preset-window-heights {
        proportion 0.33
        proportion 0.5
        proportion 0.66
        proportion 1.0
    }
    // }}}
}
