// Recent Windows
// https://yalter.github.io/niri/Configuration:-Recent-Windows.html

// Include Colors
include "/home/marci/.cache/matugen/colors.kdl"

recent-windows {
    on
    debounce-ms 750
    open-delay-ms 150

    binds {
        Mod+Tab       { next-window     scope="all"; }
        Mod+Shift+Tab { previous-window scope="all"; }
        Alt+Tab       { next-window     scope="output"; }
        Alt+Shift+Tab { previous-window scope="output"; }
    }

    highlight {
        padding 30
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 0.25
    }
}
