// Window Rules
// https://yalter.github.io/niri/Configuration:-Window-Rules.html

// Get Window Properties
// `niri msg pick-window`

window-rule {
    default-column-width { proportion 1.0; }
    open-floating false
    open-fullscreen false
    open-maximized false
    open-maximized-to-edges false
}

// Floating {{{
window-rule {
    match app-id=r#"org.gnome.Nautilus"#
    match app-id=r#"Pinentry-gtk"#

    default-column-width { fixed 1280; }
    default-window-height { fixed 720; }
    open-floating true
}
// }}}

// Firefox {{{
window-rule {
    match app-id="firefox"

    // Fix border width
    // https://yalter.github.io/niri/FAQ.html#why-does-firefox-or-thunderbird-have-1-px-smaller-border
    clip-to-geometry true
}

// Picture-in-Picture
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"

    open-floating true
}
// }}}

// Ghostty {{{
window-rule {
    match app-id="ghostty"
    draw-border-with-background false
}
// }}}

// OBS {{{
window-rule {
    match app-id=r#"com.obsproject.Studio$"# title="^Filters for.*$"
    match app-id=r#"com.obsproject.Studio$"# title="^Properties for.*$"
    match app-id=r#"com.obsproject.Studio$"# title="^Settings$"
    match app-id=r#"com.obsproject.Studio$"# title="^Virtual Camera$"

    default-column-width { fixed 1280; }
    default-window-height { fixed 720; }
    open-floating true
}

window-rule {
    match app-id=r#"com.obsproject.Studio$"# title="^Add Scene$"

    default-column-width { fixed 700; }
    default-window-height { fixed 120; }
    open-floating true
}
// }}}

// Pinentry-gtk {{{
window-rule {
    match app-id=r#"Pinentry-gtk"#

    default-column-width { fixed 550; }
    default-window-height { fixed 150; }
    open-floating true
}
// }}}

// Spotify {{{
window-rule {
    match app-id=r#"spotify"#

    open-on-output "PNP(BNQ) BenQ RL2755 N7F05437SL0"
}

// Picture-in-Picture
window-rule {
    match app-id="chromium-browser"

    default-column-width { fixed 300; }
    default-window-height { fixed 300; }
    default-floating-position x=50 y=50 relative-to="bottom-right"
    open-floating true

    // Pinned/sticky/show on all workspaces floating windows #932
    // https://github.com/YaLTeR/niri/issues/932
}
// }}}

// VirtualBox Machine {{{
window-rule {
    match app-id=r#"VirtualBox$"# title=".*- Settings$"

    default-floating-position x=300 y=300 relative-to="top"
    open-floating true
}
// }}}

// XDG Desktop Portal Gnome {{{
window-rule {
    match app-id=r#"xdg-desktop-portal-gnome"# title="^Share Screen$"

    default-column-width { fixed 1280; }
    default-window-height { fixed 720; }
    open-floating true
}
// }}}
