:root {
    --inline-tab-padding: 5px !important;
    --tab-block-margin: 3px 3px !important;
    --tab-border-radius: 0px !important;
    --tab-shadow-max-size: 0px !important;
    --toolbar-field-focus-border-color: transparent !important;
}

/* BOOKMARKS {{{*/
#customizableui-special-spring9 {
    /* Remove spacing at the end of Bookmarks bar */
    display: none !important;
}

#star-button-box {
    /* Remove button "Bookmark this page" */
    display: none !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton) {
    /* Reduce spacing */
    margin: 0px !important;
    padding: var(--bookmark-block-padding) 4px !important;
}
/* }}} */

/* MULTI-ACCOUNT CONTAINERS {{{*/
#tabbrowser-tabs .tab-context-line {
  display: none !important;
}

#tabbrowser-tabs .tab-background {
  border-bottom: solid 2px var(--identity-icon-color) !important;
}
/* }}} */

/* NEW TAB BUTTON {{{*/
#TabsToolbar{
    --toolbarbutton-inner-padding: 4px !important;
}

toolbarbutton#tabs-newtab-button {
    margin-inline: 5px !important;
    padding: 0 !important;
}
/* }}} */

/* TABS {{{*/
.tab-background {
    /* Remove top and bottom spaces on tabs, causing additional height on title bar */
    margin-block: 0 !important;
}

.tabbrowser-tab {
    /* Remove gaps between tabs */
    padding: 0 !important;
}

.tabbrowser-tab {
    /* Height & inline padding (spacing) */
    min-height: 14px !important;
    padding-inline: 0px !important;
}

#tabbrowser-arrowscrollbox {
    /* Prevent tab overflow increased height */
    --tab-min-height: 35px !important;
    max-height: var(--tab-min-height) !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    /* Pinned tab margin */
    margin-inline-start: 0 !important;
}

hbox.tab-content {
    /* Decrease padding */
    padding-inline: 10px !important;
}
/* }}} */

/* TITLE BAR {{{*/
:root:not([privatebrowsingmode], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs, :root[privatebrowsingmode]:not([firefoxviewhidden]) :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
    /* Remove spacing from the beginning of the tabs */
    border-inline-start: 0px solid color-mix(in srgb, currentColor 25%, transparent) !important;
    padding-inline-start: calc(var(--tab-overflow-pinned-tabs-width)) !important;
    margin-inline-start: 0px !important;
}

.titlebar-button.titlebar-close {
    /* Close button: hide */
    display: none !important;
}

.titlebar-spacer {
    /* Close button: hide spacer */
    display: none !important;
}

#alltabs-button {
    /* List All Tabs button: hide */
    display: none !important;
}

#firefox-view-button {
    /* Firefox View button: hide */
    display: none;
}
/* }}} */

/* TOOLBAR {{{*/
hbox#urlbar {
    min-height: 33px !important;
}

toolbar#nav-bar {
    max-height: 33px !important;
}

#firefox-view-button {
    /* Firefox View button */
    display: none !important;
}
/* }}} */

/* URL BAR {{{*/
#navigator-toolbox {
    /* Remove bottom border */
    border-bottom: unset !important;
}

#pageAction-urlbar-_testpilot-containers {
    /* Remove button "Always Open Site in Container" */
    display: none !important;
}

#urlbar-background {
    /* Radius & Color */
    border-radius: 0px !important;
    --toolbar-field-background-color: rgba(66, 65, 77, 1) !important;
}

#urlbar-container {
    /* Remove top spacing */
    margin: -4px !important;
    --urlbar-container-height: 35px !important;
}
/* }}} */
