
/* -- base styles -- */

* {
    /* font-family: Noto Sans Nerd Font, sans-serif; */
    /* font-size: 16px; */
    /* border: none; */
    /* border-radius: 0; */
    opacity: 0.9;
    background: #000000;
}
