.network {
  margin: 0rem;
  padding: 0rem 0.5rem 0rem 0rem;
}

.network-icon {
  margin: 0rem;
  padding: 0rem 0.3rem 0rem 0rem;
}

.network-reveal {
  margin: 0rem;
  padding: 0rem 0rem 0rem 0.5rem;
}
