.clock {
  margin: 0rem;
  padding: 0rem 1rem 0rem 0rem;
}

.date {
  margin: 0rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.calendar-widget {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(250, 250, 250, 1);
}
