.volume-btn {
  // border-width: 1px;
  // border-style: solid;
  // border-color: red;
  margin: 0rem 0.5rem 0rem 0rem;
  padding: 0rem;
}

.volume-btn1 {
  // border-width: 1px;
  // border-style: solid;
  // border-color: red;
  margin: 0rem 0.5rem 0rem 0rem;
  padding: 0rem;
}
