.vol-event {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  margin: 0rem 1rem 0rem 1rem;
  padding: 0rem;
}

// .vol-event:hover {
//   border-width: 1px;
//   border-style: solid;
//   border-color: green;
//   margin: 0rem 0rem 0rem 0rem;
//   padding: 0rem;
// }
