@import "/home/marci/.cache/wal/colors.scss";

.workspaces-widget {
  // border-width: 1px;
  // border-style: solid;
  // border-color: red;
}

.workspace-entry {
  margin: 0rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  &.current {
    background-color: $color5;
    color: rgba(0, 0, 0, 1);
  }

  &.occupied:not(.current) {
    color: $color5;
  }

  &.empty {
    color: rgba(250, 250, 250, 1);
  }
}

// .workspace-entry:hover {
//     background-color: rgba(200, 0, 0, 1);
//     &.current {
//         background-color: rgba(0, 200, 0, 1);
//     }
// }
