/* GTK CSS properties
 * https://docs.gtk.org/gtk3/css-properties.html
 */

window.bar {
    background-color: #000000;
    color: #FFFFFF;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #FF0000;
    color: #FF0000;
}

button:active {
    background-color: #00FF00;
    color: #FFFF00;
}

button:hover {
    border-bottom: 2px solid #0000FF;
    color: #00FF00;
}

label {
    font-weight: bold;
}

.workspaces button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}
